<div class="request-info">
    <% product = Product.find(request.product_id) %>
    <% offer = Product.find(request.offer_id) %>
    <h3>Haz ofrecido intercambiar tu <%= offer.title %> por un <%= product.title %></h3>
    <p>Descripción de tu producto: <%= product.description %></p>
    <p>Descripción del producto que te han ofrecido: <%= offer.description %></p>
</div>